$primary-font: "Noto Sans KR", sans-serif;
$secondary-font: "Barlow Condensed", sans-serif;
$thirdy-font: "Poly", serif;
$fourt-font: "Lato", sans-serif;
$black-color: #2f2e2e;
$white-color: #fff;
$active-color: #b0aaa9;
$portfotext-color: #90999f;
